

  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/materialize.js"></script>
  <script type="text/javascript" src="js/jquery.mb.YTPlayer.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
